@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #000;
    color: white;
    font-family: Arial, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-item {
    width: 100%; 
    text-align: center;
}

.nav-link {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.media-container {
    border: 1px solid #333;
    padding-bottom: 1rem;
    overflow: hidden;
}

.media {
    display: block;
    min-width: 400px;
    width: 100%;
    height: auto;
    border: 1px solid #333;
}

.media-section, .comments-section {
    overflow-y: auto;
    min-height: 100vh;
}

.media-section {
    background: #000;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 100vh;
    min-width: 40vw;
}

.media-section img {
    max-height: 90vh;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.description {
    overflow-y: auto;
    width: 100%;
    padding: 20px;
    text-align: left;
    max-height: 35vh;
}

.comments-section {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    background-color: #181818;
    border-left: 1px solid #333;
    padding: 20px;
    max-width: 600px;
    min-width: 30vw;
    
}

.comment {
    background-color: #242424;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #333;
}

.comment strong {
    color: #fff;
    font-weight: bold;
}

.scrollable-comments {
    width: 100%;
    overflow-y: auto;
    position: relative;
    max-height: calc(100vh - 160px);
}

.comment-actions {
    color: #666;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.comment-actions button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

.comment-actions .comment-time,
.comment-actions button,
.reply {
    font-size: 0.8rem;
}

.reply {
    background-color: #1e1e1e;
    color: #ccc;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.reply span {
    color: #666;
}

.fixed-form {
    position: absolute;
    bottom: 0;
    left: 0; 
    right: 0;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #242424;
    border-radius: 8px;
    box-sizing: border-box;
}

.fixed-form textarea {
    width: 100%;
    background-color: #181818;
    color: #ccc;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 8px;
}

.fixed-form button {
    width: 100%;
    background-color: #4b8bbe;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-top: 5px;
}

.create-container {
    align-items: center;
    min-height: 100vh;
    width: 100%; 
}

.create {
    background-color: #181818;
    color: #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    min-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.create h1 {
    font-size: 24px;
    margin-bottom: 16px;
}

.create .form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.create .form-control {
    background-color: #181818;
    border: 1px solid #dbdbdb;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

.create .btn {
    background-color: #0095f6;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 12px;
}

.create .btn:hover {
    background-color: #0077cc;
}

@media (max-width: 1024px) {
    .container{
        display:flex;
        flex-direction:column;
        margin: auto;
    }

    .comments-section {
        padding-bottom: 100px;
        margin-left: 160px;
        margin-right: auto;
        padding: auto;
        border: 1px solid #333;
        justify-items: center;
        display: flex;
    }
}

@media (min-width: 1024px) {
    .comments-section {
        min-width: 400px;
    }

    .media-section {
        max-height: 100vh;
    }

    .media-section img {
        min-width: 400px;
    }
}

@media (max-width: 768px) {
    .comments-section {
        width: 500px;
        margin-right: auto;
        margin-left: 150px;
    }
}

@media (max-width: 655px) {
    nav {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-top: 1px solid #333;
        background-color: #000;
        z-index: 1;
    }

    .media-container {
        margin: 20px auto;
        width: 500px;
    }

    .media-section {
        padding: 0;
        margin: 20px auto;
    }

    .comments-section {
        margin: auto;
        width: 100%;
    }

    .scrollable-comments {
        padding-bottom: 100px;
    }

    .fixed-form {
        margin-bottom: 65px;
    }
}

@media (min-width: 655px) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 140px;
        height: 100vh;
        border-right: 1px solid #333;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #000;
        z-index: 1;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .media-container {
        width: calc(100% - 260px);
        margin-left: 200px;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .create-container{
        padding-left: 280px;
        width: calc(100% - 140px);
    }
    .create {
        margin-left: auto;
        margin-right: auto;
    }
    
    .media-section{
        margin-left: 160px;
    }

    .comments-section {
        margin-right: auto;
    }
}

.table-row:hover {
    background-color: #666;
}

@media (max-width: 950px) {
    tr {
        display: none;
    }

    .table {
        display: block;
        border: 1px solid #ccc;
    }
    .table-row {
        display: block;
        border-bottom: 1px solid #ccc;
    }
    .table-cell {
        display: block;
        border: none;
        text-align: center;
    }
}
